#playercards {
    color: red;
}

.body {
    background-color: lightskyblue;
} 

#canvas-wrap {
    position: relative;
}

#hands {
    /* position: relative; */
    /* margin-top: -20%; */
    margin-left: 80%;
    /* margin-top: 20%; */
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: lightskyblue;
    border: 3px solid black;
}

#betbutton {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: lightskyblue;
    border: 3px solid black;
    margin-top: 1%;
}
#fold {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: lightskyblue;
    border: 3px solid black;
    margin-left: 80%;
    margin-top: 1px;
}
#check {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: lightskyblue;
    border: 3px solid black;
}
#call {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: lightskyblue;
    border: 3px solid black;
}

#raise2x {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: lightskyblue;
    border: 3px solid black;
    margin-left: 83.5%;
    margin-top: 1px;
}

#potraise {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: lightskyblue;
    border: 3px solid black;
}


#flop {
    /* position: relative; */
    margin-top: -20%;
    left: 30%;
}
#turn {
    /* position: relative; */
    margin-top: -1.2%;
    left: 40%;
}
#river {
    /* position: relative; */
    margin-top: -1.2%;
    left: 45%;
}

#solve {
    /* position: relative; */
    left: 25%;
}

.title {
    position: relative;
    background-color: lightskyblue;
    margin-top: -5px;
    padding-left: 20%;
    font-size: 50px;
}

.name {
    margin-left: 200px;
    margin-bottom: -200px;
}

#player1carddiv {
    margin-left: 5%;
    margin-top: -6%;
    /* margin-bottom: 5%; */
    /* color: white; */
    /* width: 10px; */
}

#player2carddiv {
    margin-left: 82%;
    margin-top: 25%;
}

/* #player3carddiv {
    margin-left: 88%;
    margin-top: 18%;
} */

#flopcard-anchor {
    margin-left: 40%;
}

.flopcards {
    /* margin-left: 10%; */
    border: 1px solid black;
    width: 32px;
    height: 34px;
    color: black;
    background-color: white;
    text-align: center;
    display: inline-block;
}


#player1chips {
  position: fixed;
  height: 35px;
  width: 35px;
  background-color:tomato;
  border-radius: 50%;
  border: 3px dashed white;
  display: inline-block;
  text-align: center;
  margin-top: 30%;
  margin-left: 18%;
  line-height: 35px;
}


/* .iconify {
    background: url('https://api.iconify.design/mdi-poker-chip.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/mdi-poker-chip.svg?height=24');
    vertical-align: -0.125em;
    color: tomato;
    border-radius: 100px;
    height: 25px;
    width: 25px; */
/* } */

#player2chips {
  position: fixed;
  height: 35px;
  width: 35px;
  background-color:tomato;
  border-radius: 50%;
  border: 3px dashed white;
  display: inline-block;
  text-align: center;
  margin-top: 30%;
  margin-left: 56%;
  line-height: 35px;
}

.player1cards {
    display: inline-block;
    border: 1px solid black;
    width: 32px;
    height: 34px;
    color: black;
    background-color: white;
    text-align: center;
    position: relative;
}

.player2cards {
    display: inline-block;
    text-align: center;
    font-size: 38px;
    -webkit-transform: rotate(-90deg);
}

.player2cardsrez {
    display: inline-block;
    border: 1px solid black;
    width: 32px;
    height: 34px;
    color: black;
    background-color: white;
    text-align: center;
    position: relative;
}


.winnerName {
    margin-top: -37%;
    margin-left: 23%;
    color:black;
}




.chair2 {
    font-size: 60px;
}

.mcdermott {
    height: 20%;
    width: 8%;
    position: fixed;
    margin-top: -21%;
    margin-left: 2%;
}

.MikeM {
    margin-top: -23%;
    position: fixed;
    margin-left: 2%;
    font-weight: bold;
}

.dwan {
    height: 12%;
    width: 8%;
    position: fixed;
    margin-left: 33%;
}

.durr {
    position: fixed;
    margin-left: 34.5%;
    padding-top: 7%;
    font-weight: bold;
}

.ivey {
    position: fixed;
    height: 21%;
    width: 9%;
    margin-top: 10%;
    margin-left: 50%;
}
.phil {
    position: fixed;
    font-weight: bold;
    margin-left: 52%;
    margin-top: 8%; 
}





/* for (let i = 0; i < animals.length; i++) {
        middlecards.push(animals[i].charAt(0));
    }

    console.log(middlecards); */

/* let animals = ['Hen', 'elephant', 'llama', 'leopard', 'ostrich', 'Whale', 'octopus', 'rabbit', 'lion', 'dog'];

    let secretMessage = animals.map(function (animal) {
        for (animal = 0; animal <= animals.length - 1; animal++) {
            middlecards.push(animals[animal].charAt(0));
        }
    });

    console.log(middlecards); */




/* #canvas-wrap { position:relative } /* Make this a positioned parent */
/* #balls     { position:relative; margin-top:-20%; left:30px; } */ */

/* <div class="outline">
        <div class="top"><span>A</span><span>&hearts;</span></div>
        <h1>&hearts;</h1>
        <div class="bottom"><span>&hearts;</span><span>A</span></div>
    </div> */